body {
    background: #e7ecf0;
}

#helpdesk-dashboard {
    margin: 30px;
}

.helpdesk-ticket {
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #e7e7e7;
}

.ticket-comment {
    background: #ffffff;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    padding: 10px;
    margin: 15px 0;
}

.helpdesk-add-new-comment textarea {
    width: 100%;
}

.ticket-comment:nth-child(even) {
    background-color: #cccccc;
}