body {
    background: #e7ecf0;
}

#helpdesk-dashboard {
    margin: 30px;
}

.helpdesk-ticket {
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #e7e7e7;
}